.datepicker-container {
  text-align: left;
  position: relative;
  font-size: 0.8rem;
  width: 173px;
}

.datepicker-input {
  padding: 0.15rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  
  background-color: #F8F9FD;
  border-radius: 3px;
  height: 30px;
}

.datepicker-input:focus {
  outline: 2px solid #1ebaf7;
}

.datepicker-input path {
  fill: #2C71E1;
}

.select-tool {
  display: flex;
  align-items: center;
} 

.datepicker-menu {
  display: flex;
  position: absolute;
  user-select: none;
  width: max-content;
  padding: 8px;
  padding-top: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  background-color: #fff;
  z-index: 2;
}

.inline-menu {
  position: static;
	/* display: inline-block;
	box-shadow: none; */
}

.datepicker-menu nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.datepicker-month {
  width: 100px;
}

.datepicker-year {
  width: 44px;
}

.datepicker-nav button {
  cursor: pointer;
  border: none;
  background: transparent;
  height: 25px;
  margin: 0;
  opacity: 0.5;
}

.datepicker-month, .datepicker-year {
  cursor: pointer;
  border: none;
  text-align: right;
  font-weight: 700;
  padding: 5px 3px;
  padding-right: 1rem;

  appearance: none;
  background-image: url('./assets/arrow.svg');
  background-repeat: no-repeat;
  background-position: right 0 bottom 50%;
  background-size: 0.65rem auto;
}

.datepicker-month:hover, .datepicker-year:hover {
  text-decoration: underline;
}

.datepicker-month > option, .datepicker-year > option {
  padding: 5px 3px;
}

.datepicker-menu table {
  border-spacing: 0 0;
  margin: 0 auto;
}

.datepicker-menu th, td {
  width: 32px; /* more dynamic */
  height: 25px;
}

.datepicker-menu th {
  color: #999;
  background: #f1f1f1;
  border: 1px solid #ddd;
  font-size: 12px;
}

.datepicker-menu td {
  color: #666;
  background: #f5f5f5;
  border: 1px solid #ddd;
  text-align: right;
  /* padding-right: 5px; */
}

.datepicker-menu td.today {
  color: #33aaff;
}

.datepicker-menu td.greyed {
  opacity: 0.5;
}

.datepicker-menu td.selected {
  background-color: #0099ff;
  color: #fff;
}

.datepicker-menu td.highlighted {
  background: #ffe9d2;
  box-shadow: #ffb871 0 1px 4px 0 inset;
  color: #000;
}

.datepicker-menu td.hlCyan {
  background: #d2feff;
  box-shadow: #71eeff 0 1px 4px 0 inset;
  color: #000;
}

.datepicker-menu td.hlCyanPlain {
  background: #d2feff;
  border-bottom: 1px solid white;
  color: #000;
}

.datepicker-menu td.hlGreen {
  background: #d2fff0;
  box-shadow: #71ffac 0 1px 4px 0 inset;
  color: #000;
}

.datepicker-menu td:hover {
  cursor: default;
  background-color: #FF8000;
  color: #fff;
}

.datepicker-save-selected {
  width: 100%;
  height: 28px;
  margin-top: 5px;
  color: #82878c;
  border: 1px solid #d7d8da;    
  background: linear-gradient(to bottom, #fff 0%, #f4f8fa 73%);
}

.datepicker-save-selected .active {
  color: #454551;
}

.hidden {
  visibility: hidden;
}

.timepicker {
  width: 58px;
  margin-top: 8px;
  margin-left: 8px;
  margin-bottom: 3px;
}

.timepicker.marginless{
  margin: 0;
}

.timepicker_prev, .timepicker_next {
  cursor: pointer;
  background-color: transparent;
  opacity: 0.5;
  border: none;
  margin-left: 14px;
}

.timepicker_prev:hover, .timepicker_next:hover {
  opacity: 1;
}

.timepicker_prev {
  margin-bottom: 7px;
}

.timepicker_next {
  margin-top: 7px;
}

.time_box {
  position: relative;
  height: 151px; /* need to calculate this */
  overflow: hidden;
  /* overflow: scroll;
  overflow-x: hidden; */
  text-align: center;
  border: 1px solid #ddd;
}

.time_box::-webkit-scrollbar-track {
  background: url('./assets/transparent.png');
}

.timepicker_time {
  cursor: pointer;
  height: 25px;
  line-height: 25px;
  background: #f5f5f5;
  color: #666;
  border-top: 1px solid #ddd;
  border-bottom-width: 0;
}

.timepicker_time:hover {
  background-color: #FF8000;
  color: #fff;
}

.timepicker_time.selected {
  background-color: #0099ff;
  color: #fff;
}

.timepicker_time:first-child {
  border-top-width: 0;
}

.scrollbar {
  position: absolute;
  width: 7px;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.thumb {
  height: 37px;
  border-radius: 4px;
  background: #ccc;
}

.thumb:hover {
  background-color: #FF8000;
}

/**
* DatePicker alternative CSS
*/
.datepicker-menu {
  padding: 15px 10px;
}

/* .datepicker-input:focus {
  border: #2C71E1;
} */

.datepicker-menu nav {
  padding: 0 5px;
}

.datepicker-menu th {
  background: none;
  border: none;
  color: #2C71E1;
  text-align: center;
}

.datepicker-menu td {
  position: relative;
  background: none;
  border: none;
  font-weight: 700;
  /* border-radius: 5px; */
  text-align: center;
}

.datepicker-menu td.today {
  color: #33aaff;
}

.datepicker-menu td.greyed {
  opacity: 0.5;
}

.datepicker-menu td.selected {
  background-color: #0099ff;
  color: #fff;
}

.datepicker-menu td.highlighted {
  background: #ffe9d2;
  box-shadow: #ffb871 0 1px 4px 0 inset;
  color: #000;
  border-radius: 0px;
}

.datepicker-menu td.hlFirst {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.datepicker-menu td.hlEnd {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* .datepicker-menu td.hlCyan {
  background: #d2feff;
  box-shadow: #71eeff 0 1px 4px 0 inset;
  color: #000;
} */

.datepicker-menu td.hlGreen {
  background: #d2fff0;
  box-shadow: #71ffac 0 1px 4px 0 inset;
  color: #000;
}

/* .datepicker-menu td[title]:hover::after {
  content: attr(title);
  position: absolute;
  background: #0099ff;
  padding: 10px;
  z-index: 10;
  border-radius: 10px;
  top: -190%;
  right: 0;
} */

.datepicker-menu td:hover {
  cursor: default;
  background-color: #FF8000;
  color: #fff;
}

.datepicker-today path {
  fill: #2C71E1;
  stroke: #2C71E1;
  stroke-width: 1;
}

.datepicker-nav button {
  opacity: 1;
}

.thin-arrow-left, .thin-arrow-right {
  fill: #2C71E1;
  stroke: #2C71E1;
}