.datepicker-container {
  text-align: left;
  position: relative;
  font-size: 0.8rem;
  width: 173px;
  box-sizing: content-box;
}

.datepicker-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  border-radius: 3px;
}

.datepicker-input input {
  padding-left: 0.5rem;
  width: calc(100% - 0.5rem);
  height: 32px;
}

.datepicker-icon {
  width: 16px;
  position: absolute;
  right: 0;
}

.datepicker-icon path {
  fill: #2C71E1;
}

.select-tool {
  display: flex;
  align-items: center;
} 

.datepicker-menu {
  display: flex;
  position: absolute;
  user-select: none;
  width: max-content;
  padding: 8px;
  padding-top: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  background-color: #fff;
  z-index: 2;
}

.datepicker-menu nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.datepicker-month {
  width: max-content;
}

.datepicker-year {
  width: max-content;
}

.datepicker-nav button {
  cursor: pointer;
  border: none;
  background: transparent;
  height: 25px;
  margin: 0;
  opacity: 0.5;
}

.datepicker-month, .datepicker-year {
  cursor: pointer;
  border: none;
  text-align: right;
  font-weight: 700;
  padding: 5px 3px;
  padding-right: 1rem;
  appearance: none;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #dbdbdb; 
  border-radius: 8px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #cacaca; 
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8d8d8d; 
}

.datepicker-select {
  position: relative;
}

.datepicker-select svg {
  position: absolute;
  height: 100%;
  right: 1px;
  opacity: 0.75;
  width: 9px;
}

.datepicker-month:hover, .datepicker-year:hover {
  text-decoration: underline;
}

.datepicker-month > option, .datepicker-year > option {
  padding: 5px 3px;
}

.datepicker-menu table {
  border-spacing: 0 0;
  margin: 0 auto;
}

.datepicker-menu th, td {
  width: 32px;
  height: 25px;
}

.datepicker-menu th {
  color: #999;
  background: #f1f1f1;
  border: 1px solid #ddd;
  font-size: 12px;
}

.datepicker-menu td {
  color: #666;
  background: #f5f5f5;
  border: 1px solid #ddd;
  text-align: right;
}

.datepicker-menu td.today {
  color: #33aaff;
}

.datepicker-menu td.greyed {
  opacity: 0.5;
}

.datepicker-menu td.disabled {
  opacity: 0.5;
  cursor: default;
}

.datepicker-menu td.selected {
  background-color: #0099ff;
  color: #fff;
}

.datepicker-menu td.highlighted {
  background: #ffe9d2;
  box-shadow: #ffb871 0 1px 4px 0;
  color: #000;
}

.datepicker-menu td.hlCyan {
  background: #d2feff;
  box-shadow: #71eeff 0 1px 4px 0;
  color: #000;
}

.datepicker-menu td.hlCyanPlain {
  background: #d2feff;
  border-bottom: 1px solid white;
  color: #000;
}

.datepicker-menu td.hlGreen {
  background: #d2fff0;
  box-shadow: #71ffac 0 1px 4px 0;
  color: #000;
}

.datepicker-menu td:hover {
  cursor: default;
  background-color: #FF8000;
  color: #fff;
}

.datepicker-save-selected {
  width: 100%;
  height: 28px;
  margin-top: 5px;
  color: #82878c;
  border: 1px solid #d7d8da;    
  background: linear-gradient(to bottom, #fff 0%, #f4f8fa 73%);
}

.datepicker-save-selected .active {
  color: #454551;
}

.inline {
  position: static;
  margin-top: 3px;
}

.none {
  display: none;
}

.hidden {
  visibility: hidden;
}

.timepicker {
  width: 58px;
  margin-top: 8px;
  margin-left: 8px;
  margin-bottom: 3px;
}

.timepicker.marginless{
  margin: 0;
}

.timepicker_prev, .timepicker_next {
  cursor: pointer;
  background-color: transparent;
  opacity: 0.5;
  border: none;
  margin-left: 14px;
}

.timepicker_prev:hover, .timepicker_next:hover {
  opacity: 1;
}

.timepicker_prev {
  margin-bottom: 7px;
}

.timepicker_next {
  margin-top: 7px;
}

.time_box {
  position: relative;
  height: 151px;
  overflow: hidden;
  text-align: center;
  border: 1px solid #ddd;
}

.time_box::-webkit-scrollbar-track {
  background: url('./assets/transparent.png');
}

.timepicker_time {
  cursor: pointer;
  height: 25px;
  line-height: 25px;
  background: #f5f5f5;
  color: #666;
  border-top: 1px solid #ddd;
  border-bottom-width: 0;
}

.timepicker_time:hover {
  background-color: #FF8000;
  color: #fff;
}

.timepicker_time.selected {
  background-color: #0099ff;
  color: #fff;
}

.timepicker_time:first-child {
  border-top-width: 0;
}

.scrollbar {
  position: absolute;
  width: 7px;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.thumb {
  height: 37px;
  border-radius: 4px;
  background: #ccc;
}

.thumb:hover {
  background-color: #FF8000;
}

/**
* DatePicker alternative CSS
*/
.datepicker-menu {
  padding: 15px 10px;
}

.datepicker-menu nav {
  padding: 0 5px;
}

.datepicker-menu th {
  background: none;
  border: none;
  color: #2C71E1;
  text-align: center;
}

.datepicker-menu td {
  position: relative;
  background: none;
  border: none;
  font-weight: 700;
  text-align: center;
}

.datepicker-menu td.today {
  color: #33aaff;
}

.datepicker-menu td.greyed {
  opacity: 0.5;
}

.datepicker-menu td.selected {
  background-color: #0099ff;
  color: #fff;
}

.datepicker-menu td.highlighted {
  background: #ffe9d2;
  box-shadow: #ffb871 0 1px 4px 0 inset;
  color: #000;
  border-radius: 0px;
}

.datepicker-menu td.hlFirst {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.datepicker-menu td.hlEnd {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.datepicker-menu td.highlighted {
  background: #ffe9d2;
  box-shadow: none;
  border-bottom: 1px solid white;
  color: #000;
}

.datepicker-menu td.hlCyan {
  background: #d2feff;
  box-shadow: none;
  border-bottom: 1px solid white;
  color: #000;
}

.datepicker-menu td.hlMagenta {
  background: #ff79bc;
  box-shadow: none;
  border-bottom: 1px solid white;
  border-radius: 12px;
  color: #000;
}

.datepicker-menu td.hlGreen {
  background: #d2fff0;
  box-shadow: none;
  border-bottom: 1px solid white;
  color: #000;
}

.datepicker-menu td:hover {
  cursor: default;
  background-color: #FF8000;
  color: #fff;
}

.datepicker-today path {
  fill: #2C71E1;
  stroke: #2C71E1;
  stroke-width: 1;
}

.datepicker-nav button {
  opacity: 1;
}

.thin-arrow-left, .thin-arrow-right {
  fill: #2C71E1;
  stroke: #2C71E1;
}

/* 
* Dark Theme
*/
.datepicker-input.dark input {
  background-color: #38393C;
  color: #FFF;
  border-color: #38393C;
}

.datepicker-input.dark input:focus {
  outline-color: #00ffd5;
}

.datepicker-input.dark path {
  fill: #ffc477;
}

.datepicker-menu.dark {
  background-color: #38393C;
  border-color: #1b1b1d;
}

.datepicker-month.dark, .datepicker-year.dark {
  background-color: #38393C;
  color: #ffc477;
}

.datepicker-menu.dark th {
  color: #ffc477;
  font-weight: 500;
}

.datepicker-menu.dark td {
  background-color: #52473d;
  color: #fff;
  font-weight: 500;
}

.datepicker-menu.dark td:hover {
  background-color: #FF8000;
  color: #fff;
}

.datepicker-menu.dark td.selected {
  background-color: #ffc387;
  color: #252525;
}

.datepicker-menu.dark td.today {
  color: #00ffd5;
}

.datepicker-menu.dark .thin-arrow-left, 
.datepicker-menu.dark .thin-arrow-right,
.datepicker-menu.dark path {
  fill: #ffc477;
  stroke: #ffc477;
}

.timepicker_time.dark {
  background-color: #27282B;
  border-color: #52473d;
  color: #fff;
}

.timepicker_time:hover.dark {
  background-color: #FF8000;
  color: #fff;
}

.timepicker_time.dark.selected {
  background-color: #ffc477;
  color: #000;
}

.time_box.dark {
  border-color: #52473d;
}

/* 
* Night Theme
*/
.datepicker-input.night input {
  background-color: #282043;
  font-weight: 600;
  color: #FFF;
  border-color: #282043;
}

.datepicker-input.night input:focus {
  outline-color: #FC7785;
}

.datepicker-input.night path {
  fill: #8987ff;
}

.datepicker-menu.night {
  background-color: #282043;
  border-color: #1d1730;
}

.datepicker-month.night, .datepicker-year.night {
  background-color: #282043;
  color: #8987ff;
}

.datepicker-menu.night th {
  color: #8987ff;
  font-weight: 500;
}

.datepicker-menu.night td {
  background-color: #221B38;
  color: #fff;
  font-weight: 500;
}

.datepicker-menu.night td:hover {
  background-color: #FC7785;
  color: #fff;
}

.datepicker-menu.night td.selected {
  background-color: #7776ce;
  color: #FFF;
}

.datepicker-menu.night td.today {
  color: #FC7785;
}

.datepicker-menu.night .thin-arrow-left, 
.datepicker-menu.night .thin-arrow-right,
.datepicker-menu.night path {
  fill: #8987ff;
  stroke: #8987ff;
}

.timepicker_time.night {
  background-color: #483a74;
  border-color: #483a74;
  color: #fff;
}

.timepicker_time:hover.night {
  background-color: #FC7785;
  color: #fff;
}

.timepicker_time.night.selected {
  background-color: #6A67F3;
  color: #000;
}

.time_box.night {
  border-color: #282043;
}