#layout-title {
  display: flex;
  justify-content: space-between;
  padding: 10px 5%;
  background-color: #F8F9FD;
}

#layout-title h1 {
  font-size: 50px;
  color: #BDC2D2;
}

#layout-title a:hover {
  text-decoration: none;
}

#layout-logo {
  height: 150px;
}

#layout-nav {
  background-color: rgb(88, 97, 97);
}

#layout-nav > a, #layout-nav > a:link, #layout-nav > a:visited, 
#layout-nav > a:focus, #layout-nav > a:hover, #layout-nav > a:active {
  margin-left: 10px;
  line-height: 45px;
  text-decoration: none;
  font-weight: 500;
  color: #ffffff;
}

#layout-nav > a:hover {
  color: #BDC2D2;
}